*{
    margin: 0;
    padding: 0;
}

body {
    background-color:  rgba(255, 94, 0, 0.367);
    color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 1%;
    margin-right: 1%;
    color: black;
}
header {
    background-color:rgb(57, 58, 65);
    color: white;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    
}

#logo_brand_name {
    display: flex;
}
#logo_brand_name img {
    width: 60px;
    height: 66px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 15px;
    margin-top: 10px;
}
#logo_brand_name .brandHead {
    font-size: 18px;
    margin-top: 10px;
}
.social_links  {
   display: none;
}

/*Hamburger styling */
#menu {
    display: block;
    font-size: 2rem;
    font-weight: 7000;
    text-decoration: none;
    padding: .5rem .75rem;
    background-color: #eee;
    color: #000;
    text-align: right;
}
#hamburger_container {
   margin-left: 75%;
   margin-top: -20px;
}

#menu::before {
    content: "☰";

}

nav {background-color: tomato;    
}

.navigation {
    list-style: none;
    margin: 0 auto;
    max-width: 76opx;
   
}
.navigation li {
    display: none;
}
.navigation a {
    display: block;
    padding: 0.75rem;
    text-align: center;
    text-decoration: none;
    color: black;
    font-weight: 700;
    transition: 0.5s;
    font-size: clamp(1rem, 2vmin, 1.5rem);
    justify-content: right;
}

.navigation a:hover, .navigation a:active {
    color: white;
    background-color: black;
}
.show li {
    display: block;
}
#menu.show::before {
    content: "X";
}
#currentdate {
    display: block;
    grid-column: 1/4;
    grid-row: 3;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-align: center;
    font-weight: bold; 
    margin-bottom: 35px;
    margin-top: 3px;
    border-radius: 15px;
}
/* Main styling */
#hero-image img {
    width: 100%;
    height: 100%;
}

#temple h4{
    position: absolute;
    color: white;
    margin-top: 5px;
    margin-left: 20%;
}

#head-items {
    display: flex;
    border: 2px solid #1234;
}

#links {
    display: none;
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
h3 {
    text-align: center;
    color: rgb(255, 153, 0);
    background-color: #000;
}
#business-image h4{
    margin-left: 5%;
    margin-top: 4%;
    position: absolute;
    color: rgb(0, 0, 0);
}
#business-image {
    grid-column: 1/3;
    border: 2px solid #1234;
    text-align: center;
    margin-bottom: 10px;
}
#business-image img{
    width: 100%;
    height: 100%;
}
#weather {
    grid-column: 3;
    grid-row: 1;
    text-align: center;
    margin-bottom: 10px;
    margin-left: 10px;
    border: 2px solid #1234;
}
#weather h4, #sportlight-1 h4, #news h4, 
#join h4, #sportlight-2 h4 {
    color: rgb(255, 153, 0);
    background-color: #000;
}
#hero-image {
    grid-column: 1/4;
    grid-row: 2;
    border: 2px solid #1234;
    margin-bottom: 10px;
}
#news {
    grid-column: 1/4;
    grid-row: 3;
    border: 2px solid #1234;
    text-align: center;
    margin-bottom: 10px;
    background-color:  #478;
    color: white;
}
#odusec {
    grid-column: 1/4;
    grid-row: 4;
}
#odusec img{
    width: 100%;
}
#sportlight-1 {
    grid-column: 1/4;
    grid-row: 5;
    border: 2px solid #1234;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 30px;
}
#sportlight-cover img {
    width: 100%;
}
#section-G {
    margin-bottom: 1px;
    border-radius: 15px;
}
#sportlight-2 {
    display: none;
}
#join{
    display: none;
}

/* copied from main */
footer {
    background-color: white;
    border-bottom: 5px solid black;
    border-right: 5px solid black;
    border-left: 5px solid black;
    width: 100%;
    padding: .2rem;
}

.brandHead {
font-size: 10px;
}
#logo-footer {
    display: flex;
    border: 2px solid #1234;
    background-color:rgb(57, 58, 65);
    color: white;
    padding: 2px;
    margin-right: 2px;
    margin-left: 2px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
#logo-footer img {
    width: 50px;
    height: 45px;
    margin-left: 2px;
    margin-right: 3px;
    border-radius: 15px;
}
#contactDetail{
    margin-left: 10%;
}
#map {
    margin-left: 5%;
}
#map img {
    width: 33px;
    height: 34px;
    margin-top: 15px;
}
#email {
    color: yellow;
}
#call-us-now a{ 
    color: rgb(0, 0, 0);
    padding: 5px;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 15px;
    text-decoration: none;
    transition: 0.5s ease-in-out;
    background-color: yellow;
}

#address {
    display: none;
}
#footer-nav {
    display: flex;
    border: 2px solid #1234;
    gap: 50px;
    background-color: #478;
    margin-right: 2px;
    margin-left: 2px;
}
#footer-nav p {
    margin-top: 15px;
}
#copyright{
    margin-top: 15px;
    margin-left: 2px;
    margin-right: 2%;
}
#footing-links {
    color: white;
}
#footing-links nav{
    display: flex;
    padding: .5px;
    background-color: #478;
}
#lastModified {
    margin-left: 5%;
    color: white;
    margin-top: 15px;
}
main img {
    float: right;
    margin: 0 0 1rem 1rem;
    border: 1px solid #333;
    box-shadow: 0 0 15px #777;
}

#mode {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 3rem;
    cursor: pointer;
    font-size: 2rem;
}
