
#menu {
    display: block;
    font-size: 2rem;
    font-weight: 7000;
    text-decoration: none;
    padding: .5rem .75rem;
    background-color: #eee;
    color: #000;
    text-align: right;
}
#hamburger_container {
   margin-left: 75%;
}

#menu::before {
    content: "☰";

}

nav {background-color: tomato;    
}

.navigation {
    list-style: none;
    margin: 0 auto;
    max-width: 76opx;
   
}
.navigation li {
    display: none;
}
.navigation a {
    display: block;
    padding: 0.75rem;
    text-align: center;
    text-decoration: none;
    color: black;
    font-weight: 700;
    transition: 0.5s;
    font-size: clamp(1rem, 2vmin, 1.5rem);
    justify-content: right;
}

.navigation a:hover, .navigation a:active {
    color: white;
    background-color: black;
}
.show li {
    display: block;
}
#menu.show::before {
    content: "X";
}

@media only screen and (min-width: 48em) {
    .navigation{
        display: flex;
    }
    .navigation li {
        display: block; /* change state in small view */
        flex: 1 1 100%;
    }

    .navigation a {
        text-align: center;
    }
    #menu {
        display: none;
    }
}