
h1{
    text-align: center;
    border: black solid 6px;
    background-color: chocolate;
    padding: .45rem;
    color: white;
    font-size: 2.5rem;
}
p{
    text-align: center;
    font-size: 1.5rem;
}

/* -------- FORMS -------- */
form fieldset{
    margin: 2rem 0;
    border: 1px solid black;
    border-radius: 15px;
    padding: .5rem 2%;
}
#field{
    display: block;
}
form legend{
    color: #909;
    margin: 0;
    padding: 0.5rem;
}

/* ----- Forms individual items ------*/
form label .top, form div{
    display: block;
    padding-top: 1rem;
    color: #7121;
    font-size: .8rem;
}

form label .top input, form label .top select {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: 1px solid green;
    border-radius: 15px;
    padding: .75rem;
    width: 100%;
    max-width: 20rem;
    background-color: rgb(0, 0, 0, 0.1); 
}

form label .sbs {
    display: block;
    padding: .75rem 0;
    color: #909;
}
#select{
    background-color: black;
    color: white;
}

form input #submitBtn {
    border: none;
    background-color: red;
    color: rgb(0, 0, 0);
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}

form label .top input:required {
    border-left: red solid 6px;
}
form label .top input:required:valid{
    border-left: green solid 6px;
}


