*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:  rgba(255, 94, 0, 0.367);
    color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 1%;
    margin-right: 1%;
}
header {
    background-color:rgb(0, 17, 149);
    color: white;
}
#banner{
    background-color: #478;
    padding: 5px;
    text-align: center;
}
#banner::first-line{
    background-color: red;
    color: white;
    font-size: larger;
}
video {
    width: 100%;
    height: fit-content;
   
}

#spotlightAds{
    background-color: #478;
    padding: 20px;
    text-align: center;
    width: fit-content;
    font-family: 'CurlyFont', cursive;
    border: #000 2px solid;
    border-radius: 12px 90px;
    border-bottom: #000 5px solid;
    margin: 5%;
}

#logo_brand_name {
    display: flex;
}
#logo_brand_name img {
    width: 60px;
    height: 66px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 15px;
    margin-top: 10px;
}
#logo_brand_name .brandHead {
    font-size: 18px;
    margin-top: 10px;
}
h3{
    text-align: center;
    padding: 50px;
    background-image: image-set(images/utah-hero-large-s);
}
.social_links  {
   display: none;
}
.social_links-footer a img{
    width: 32px;
    height: 26px;
    border-radius: 15px;
    margin-left: 5%;
}
/*Hamburger styling */
#menu {
    display: block;
    font-size: 2rem;
    text-decoration: none;
    padding: .5rem .75rem;
    background-color: #eee;
    color: #000;
    text-align: right;
}
#hamburger_container {
   float: right;
   margin-right: 1%;
}

#menu::before {
    content: "☰";

}

.navigation {
    list-style: none;
    margin: 0 auto;
}
.navigation li {
    display: none;
}
.navigation a {
    display: block;
    padding: 0.75rem;
    text-align: center;
    text-decoration: none;
    color: black;
    font-weight: 700;
    transition: 0.5s;
    font-size: clamp(1rem, 2vmin, 1.5rem);
    justify-content: right;
}

.navigation a:hover, .navigation a:active {
    color: white;
    background-color: black;
}
.show li {
    display: block;
}
#menu.show::before {
    content: "X";
}
#currentdate {
    display: block;
    grid-column: 1/4;
    grid-row: 3;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-align: center;
    font-weight: bold; 
    margin-bottom: 35px;
    margin-top: 3px;
    font-size: 10px;
}
/* Main styling */
#hero-image img {
    width: 100%;
    height: 100%;
}

#temple h4{
    position: absolute;
    color: white;
    margin-top: 5px;
    margin-left: 20%;
}

#head-items {
    display: flex;
    border: 2px solid #1234;
}

#links {
    display: none;
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.discover-h3 {
    text-align: center;
    color: rgb(255, 153, 0);
    background-color: #000;
}
#business-image h4{
    margin-left: 5%;
    margin-top: 4%;
    position: absolute;
    color: rgb(0, 0, 0);
}
#business-image {
    grid-column: 1/3;
    border: 2px solid #1234;
    text-align: center;
    margin-bottom: 10px;
}
#business-image img{
    width: 100%;
    height: 100%;
}
#weather {
    grid-column: 3;
    grid-row: 1;
    text-align: left;
    margin-bottom: 10px;
    margin-left: 10px;
    border: 2px solid #1234;
}
#fig{
    display: flex;
    margin-top: 10px;
    font-size: 13px;
}
#fig img {
    width: 26px;
    height: 23px;
    border: none;
    border-radius: 15px;
}
 #current-temp, #fah{
    padding: 3px;
    color: black;
}

#weather figcaption{
    text-transform: capitalize;
    padding: 4px;
}

#weather h4, #sportlight-1 h4, #news h4, 
#join h4, #sportlight-2 h4 {
    color: rgb(255, 153, 0);
    background-color: #000;
    text-align: center;
}
#hero-image {
    grid-column: 1/4;
    grid-row: 2;
    border: 2px solid #1234;
    margin-bottom: 10px;
}
#news {
    grid-column: 1/4;
    grid-row: 3;
    border: 2px solid #1234;
    text-align: center;
    margin-bottom: 10px;
    background-color:  #478;
    color: white;
}
#odusec {
    grid-column: 1/4;
    grid-row: 4;
}
#odusec img{
    width: 100%;
    height: fit-content;
}
#sportlight-1 {
    grid-column: 1/4;
    grid-row: 5;
    border: 2px solid #1234;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 30px;
}
#sportlight-cover img {
    width: 100%;
    height: fit-content;
}

#sportlight-cover span, #sportlight-cover p, #sportlight-cover marquee {
    color: black;
    font-weight: bolder;
}
#section-G {
    margin-bottom: 1px;
    border-radius: 15px;
}
#sportlight-2 {
    display: none;
}
#join{
    display: none;
}
#social_links-footer{
    display: flex;
}
/* copied from main */
footer {
    background-color: white;
    border-bottom: 5px solid black;
    border-right: 5px solid black;
    border-left: 5px solid black;
    width: 100%;
    padding: .2rem;
}

.brandHead {
font-size: 12px;
padding-top: 15px;

}
#logo-footer {
    display: flex;
    border: 2px solid #1234;
    background-color:rgb(57, 58, 65);
    color: white;
    padding: 2px;
    margin-right:1%;
    margin-left: 2px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
#logo-footer img {
    width: 36px;
    height: 38px;
    margin-left: 2px;
    margin-right: 1%;
    border-radius: 15px;
}
#contactDetail{
    margin-left: 3%;
}
#contactDetail span{
    font-size: 10px;
}
#map {
    display: none;
    margin-left: 5%;
}
#map img {
    width: 33px;
    height: 34px;
    margin-top: 15px;
}
#email {
    color: yellow;
    font-size: 10px;
    float: right;
}
#call-us-now a{ 
    color: rgb(0, 0, 0);
    padding: 5px;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 15px;
    text-decoration: none;
    transition: 0.5s ease-in-out;
    background-color: yellow;
}

#address {
    display: none;
}
#class{
    display: none;
}

#copyright, #currentyear, #lastModified, #footer-nav span{
    font-size: 7px;
}
#footer-nav {
    display: flex;
    border: 2px solid #1234;
    gap: 20%;
    background-color: #478;
    margin-right: 2px;
    margin-left: 2px;
    padding: 10px;
}
#footer-nav p {
    margin-top: 15px;
}
#copyright{
    margin-left: 2px;
    margin-top: 7px;
}
#footing-links {
    color: white;
    display: none;
}
#footing-links nav{
    display: none;
    padding: .5px;
    background-color: #478;
}
#lastM{
    float: right;
    width: fit-content;
    margin-top: 7px;
}
#lastModified {
    color: white;
}

main img {
    float: right;
    margin: 0 0 1rem 1rem;
    border: 1px solid #333;
    box-shadow: 0 0 15px #777;
}

#mode {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 3rem;
    cursor: pointer;
    font-size: 2rem;
}

/* Discover Side Bar Design */
.discover-container {
    grid-template-columns: 1fr; /* Switch to a single column layout for mobile view */
    border: 2px solid black;
}

.discover-sidebar{
    background-color:  rgba(255, 192, 156, 0.367);
    margin: 10px;
    margin-right: 0;
}
#side {
    padding: 3px;
    background-color: rgb(255, 0, 0);
    text-align: center;
    color: rgb(255, 255, 255);
    border: 2px solid #786;
    margin-bottom: 35px;
    border-radius: 15px 120px;

}
#side p{
    margin-top: 20px;
}
.discover-sidebar h2 {
    padding: 3px;
    background-color: #478;
    text-align: center;
    color: white;
}

#statistics{
    border: 1px solid #786;
    height: 250px;
    margin-bottom: 35px;
    border-bottom-right-radius: 15px;
}
#statistics p {
    text-align: center;
    padding: 5px;
}
#disc-calendar{
    border: 1px solid #786;
    height: 360px;
    margin-bottom: 15px;
    border-bottom-right-radius: 15px;
}

#disc-event {
    border: 1px solid #786;
    height: 250px;
    margin-bottom: 55px;
    text-align: center;
    border-bottom-right-radius: 15px;
}
#disc-event p{
    color: rgb(0, 0, 0);
    font: small;
    margin-bottom: 20px;
    margin-top: 10px;
    background-color: yellow;
    margin-left: 10%;
    margin-right: 10%;
    text-transform: capitalize;
}
.discover-main-content{
    padding: 5px;
}

#content-section {
    background-color: transparent;
    margin: 10px;
    margin-left: 0;
}
.section-images img{
    width: 100%;
    height: auto;
}
.section-images img:hover {
    background-color: #000;
    transition: 0.5s ease-out;
}
.section-images-design img{
    width: 100%;
    height: auto;
    border-radius: 15px 150px;
}
.section-images-fast img{
    width: 100%;
    height: auto;
    border-radius: 315px 950px;
}

#google-map {
    width: 100%;
}

/* JOIN */


.membership-form {
    margin: 2%;
}

.membership-benefits {
    margin-left: 5%;
    margin-right: 20%;
} 
#heading {
   margin-top: 50px;
   margin-bottom: -10px;
   text-align: center;
   color: black;
   text-decoration: underline;
}
.h3-items {
    padding: 10px;
    margin-top: 40px;
    border-top-left-radius: 150px;
    background-color: black;
    color:  rgb(255, 162, 0);
    text-align: center;
}
.ul-items li {
    padding: 10px;
    margin-left: 20%;
    color: black;
}

/* Thank you */

#par {
    text-align: center;
    font-size: 16px;
    margin-top: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(59, 68, 72);
    border-radius: 360px 10px;
    margin-left: 1%;
    margin-right: 2%;
    color: white;
    padding: 5px;
    margin-bottom: 40px;
    padding-bottom: 20px;
    border: 5px solid green;
}
#thanks {
    background-color:  #ff9c9c;
    color: black;
    border-radius: 15px;
    padding: 2px;
    font-size: 16px;
}

/*-------- Directory -----------*/
.menu-view {
	text-align: center;
	padding: 10px;
}
.grid-view {
	display: block;
}

.section-grid{
	display: block;
}
.section-grid img {
	width: 90%;
	height: 150px;
	margin-bottom: 0;
	margin-left: 10px;
	margin-right: 10px;
}
.directory-h3{
	text-align: center;
	width: 90%;
	margin-top: 0;
	margin-left: 10px;
	margin-right: 10px;
	border-bottom: 1px solid rgb(118, 117, 117);
}
.grid .directory-h3 {
	width: 90%;
	margin-top: 0;
	margin-left: 10px;
	margin-right: 10px;
	background-color: black;
	color: rgb(255, 153, 0);
	padding: 2px;
}
.grid-view h2{
    text-align: center;
    color: black;
    padding: 5px;
}

.section-grid p{
	text-align: center;
}
.section-grid a {
	text-align: center;
}

.list {
	display: flex;
	flex-direction: column;
}

.list section {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr;
	margin: 10px;
	padding: 0.25rem;
	text-align: center;
}

.list section > * {
	margin: 0 1rem;
}

.list section img {
	display: none; /* smaller viewports only */
}

.list section h3 {
	font-size: 1rem;
	font-family: Roboto, Helvetica, sans-serif;
}

.list section:nth-child(even) {
	background-color: #2345;
}

section .directory-h3 {
	font-size: 1rem;
}

section .directory-p {
	font-weight: 600;
	font-size: smaller;
    color: black;
}

section a {
	font-family: "Roboto", Arial, sans-serif;
	font-size: 0.85rem;
	color: navy;
	letter-spacing: 1.1pt;
}


