* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
@media (min-width: 640px){
    body {
    background-color:  rgba(255, 94, 0, 0.367);
    color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 1%;
    margin-right: 1%;
    color: black;
    height: auto;
    border: 1px solid rgba(0, 0, 0, 0.2);

    }
    header {
        background-color:rgb(0, 17, 149);
        color: white;
        padding: 2px;
    }
    video {
        width: 100%;
        height: fit-content;
    }
    #logo_brand_name img {
        width: 60px;
        height: 66px;
        margin-left: 10px;
        margin-right: 10px;
        border-radius: 15px;
        cursor: pointer;
    }
    .social_links a img{
        width: 32px;
        height: 26px;
        border-radius: 15px;
    }
    .social_links-footer a img{
        margin-left: 13%;
    }
    
    
    .headline {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: justify;
    }
    #logo_brand_name {
        display: flex;  
        grid-column: 1;
        text-align: center;
        justify-content: center;
        margin-top: 10px;
    }
   
    .social_links {
        display: block;
        grid-column: 3;
        grid-row: 1;
        text-align: center;
        margin-top: 40px;
    }
    .social_links a {
        margin-right: 20px;
    }
    nav {
       grid-column: 2;
        grid-row: 2;
        justify-content: center;
        padding: 20px;
        margin-bottom: 10px;
        
    }
    nav ul {
        list-style-type: none;
    }
    nav a {
        text-align: center;
        color: #ffffff;
        text-decoration: #2b1c10;
        transition: .5s;
         opacity: .9;
        transform: scale(1.1);
        box-shadow: 10px 5px 15px #ffffff;
        border-radius: 15px;
    }
    
      nav a:hover{
        background-color: #ffffff;
        color: rgb(0, 0, 0);
        border-radius: 50px;
        text-decoration: none;
    }
    
    h1 {
        font-size: 1rem;
        padding: 1px;
        margin-top: 30px;
    }
       
    .navigation{
        display: flex;
        gap: 20px;
    }
    .navigation li {
        display: block; 
    
    }

    .navigation a {
        text-align: center;
    }
   
    
    nav a:hover{
        border: 1px solid rgb(45, 53, 60);
        color: rgb(242, 17, 17);
        padding: 2px;
        border-radius: 5px; 
    }
  
    #menu {
        display: none;
    }
    #currentdate {
        display: block;
        grid-column: 1/4;
        grid-row: 3;
        background-color: rgb(255, 255, 255);
        display: block;
        color: rgb(0, 0, 0);
        text-align: center;
        font-weight: bold; 
        margin-bottom: 35px;
        margin-top: 30px;
    }
    /*Main Styling*/
    #temple h4{
        position: absolute;
    }
    #hero-image h4 {
        margin-left: 5px;
        margin-top: 4px;
    }
    /*copied */
    main img {
        float: right;
        margin: 0 0 1rem 1rem;
        border: 1px solid #333;
        box-shadow: 0 0 15px #777;
    }
    section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    #hero-image {
        grid-column: 1/5;
        grid-row: 1;
        border: 2px solid #1234;
    }

    #weather {
        grid-column: 1;
        grid-row: 2;
        border: 2px solid #1234;
        margin-left: 0px;
        text-align: center;
        padding: 5px;
    }
    #fig img {
        width: 76px;
        height: 72px;
        border: none;
        border-radius: 15px;
    }
    main img {
        float: right;
        margin: 0 0 1rem 1rem;
        border: 1px solid #333;
        box-shadow: 0 0 15px #777;
    }
    #business-image {
        grid-column: 2/4;
        grid-row: 2;
        border: 2px solid #1234;
        text-align: center;
        margin-right: 10px;
        margin-left: 10px;
    }
   
    #sportlight-1 {
        grid-column: 4;
        grid-row: 2;
        border: 2px solid #1234;
        background-color: black;
        text-align: center;
        margin-top: 0;
    }
    #sportlight-cover {
        border: 2px solid rgb(255, 255, 255);
        background-color:  rgb(166, 123, 123);
        margin: 10px;
       
    }
   
    #sportlight-cover p {
        margin-bottom: 30px;
    }
    #moto {
        font-weight: bolder;
        color: rgb(255, 255, 255);
    }
    #sportlight-cover #elkanah {
        width: 100%;
        height: 300px;
    } 
    .contact-us {
        margin-top: 30px;
        border-top: 1px solid #000000;
        margin-left: 20px;
        margin-right: 20px;
    }
    #news {
        grid-column: 1/5;
        grid-row: 3;
        border: 2px solid #1234;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    #odusec {
        grid-column: 1/5;
        grid-row: 4;
    }
    #odusec img {
        width: 100%;
    }
    #join {
        display: block;
        grid-column: 1/3;
        grid-row: 5;
        border: 2px solid #1234;
        text-align: center;
        background-color: #478;
    }
    #join p {
        color: white;
        justify-content: center;
        margin-top: 15px;
    }
   
   
    #join button {
        border-radius: 15px;
        border: 3px solid rgb(255, 162, 0);
        transition: 0.4s ease-out;
    }
    #join button:hover {
        border: black;
        transition: 0.5s ease-out;
    }
    #join h5:hover {
        background-color: yellow;
        color: black;
        transition: 0.3s ease-out;
        border: 3px solid white;
    }

    #sportlight-2{
        display: block;
        grid-column: 3/5;
        grid-row: 5;
        border: 2px solid #1234;
        text-align: center;
    }
    #sportlight-2 img {
        width: 100%;
        height: fit-content;
    }
    #sportlight-2 button {
        border: none;
        background-color:   rgba(255, 94, 0, 0.367);
    }
    footer {
        background-color: white;
        border-bottom: 5px solid black;
        border-right: 10px solid black;
        border-left: 10px solid black;
        padding: .2rem;
    }
       
   #section-G {
        margin-top: 1px;
        border-radius: 15px;
   }
   .brandHead {
    font-size: 16px;
    margin-top: 15px;
   }
    #logo-footer {
        display: flex;
        border: 2px solid #1234;
        margin-top: 20px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        background-color:rgb(57, 58, 65);
        color: white;
        padding: 2px;
        margin-right: 5px;
        margin-left: 5px;
    }
    #logo-footer img {
        width: 48px;
        height: 53px;
        margin-left: 10px;
        margin-right: 10px;
        border-radius: 15px;
    }
    #contactDetail{
        margin-left: 18%;
    }
    #map {
        display: block;
        margin-left: 15%;
    }
    #map img {
        width: 33px;
        height: 34px;
        margin-top: 15px;
    }
    #email {
        color: #ffff00;
        font-size: 16px;
    }
    #call-us-now a{ 
        color: rgb(0, 0, 0);
        padding: 5px;
        border: 3px solid rgb(0, 0, 0);
        border-radius: 15px;
        text-decoration: none;
        transition: 0.5s ease-in-out;
        background-color: yellow;
    }
    #call-us-now a:hover {
        text-align: center;
        transition: .5s;
        transform: scale(1.1);
        box-shadow: 10px 5px 15px #ffffff;
        border-radius: 15px;
    }
    #call-us-now a:hover{
        background-color: #ffffff;
        color: rgb(0, 0, 0);
    }
   
    #address {
        font-size: 13px;
    }
    #footer-nav {
        display: flex;
        border: 2px solid #1234;
        gap: 10%;
        background-color: #478;
        margin-right: 5px;
        margin-left: 5px;
    }
    #copyright, #currentyear, #lastModified, #footer-nav span{
        font-size: 16px;
    }
    #footer-nav p {
        margin-top: 15px;
    }
    #copyright{
        margin-top: 15px;
        margin-left: 15px;
        margin-right: 5%;
    }
    #footing-links {
        color: white;
        margin-left: 1%;
    }
    #class {
        display: block;
        font-size: 14px;
    }
    #links-foote{
        display: block;
    }
    #footing-links nav{
        display: flex;
        padding: .5px;
        background-color: #478;
        opacity: .3;
    }
    #lastModified {
        color: white;
        margin-top: 15px;
    }
    #lastM{
        float: right;
        width: fit-content;
        margin-top: 15px;
        padding: 20px;
    }
   
    #mode {
        position: absolute;
        top: 1rem;
        right: 1rem;
        font-size: 3rem;
        cursor: pointer;
        font-size: 2rem;
    }
    
    /* Side Bar CSS Design */
    .discover-container {
        display: grid;
        grid-template-columns: 1fr 3fr; /* Sidebar takes up 1 part, main content takes up 3 parts */
        grid-gap: 20px; /* Add some space between the columns */
    }

    /*--------THANK YOU -------*/
    #par {
        text-align: center;
        font-size: 28px;
        margin-top: 40px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        background-color: rgb(59, 68, 72);
        border-radius: 360px 10px;
        margin-left: 15%;
        margin-right: 20%;
        color: white;
        padding: 5px;
        margin-bottom: 40px;
        padding-bottom: 20px;
        border: 5px solid green;
    }
   
    /*---DIRECTORY-------*/
    .grid-view {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 100%;
        margin-left: 0px;
    }
    .directory-h3{
        text-align: center;
        padding: 2px;
    }
    .section-grid{
        display: grid;
        grid-template-columns: 1fr;
        margin-bottom: 0;
    }
    #main-view h2{
        text-align: center;
    }
   
}